<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head(~{::#title})">
    <title id="title">出错啦</title>

</head>
<body>
<div th:replace="common::#bgDiv"></div>

<div class="container" id="container" style="height: 750px">

    <div class="row" style="height:100%">
        <div >
            <h3 class="page-header">出错啦，唠嗑君正在努力修复ing...</h3>
            <p style="font-size: 20px" th:if="${exception.cause}"><span>cause为：</span><span th:text="${exception.cause}"></span></p>
            <p style="font-size: 20px"><span>错误信息为：</span><span th:text="${exception.message}"></span></p>
        </div>



    </div>

</div>
</body>
</html>