<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head(~{::#title})">
    <title id="title">新闻速报</title>

</head>

<body>
<div th:replace="common::#bgDiv"></div>

<div class="container" style="height: 700px">
    <h3 class="page-header">
        <span>新闻速报</span> <small><span><a th:href="@{/user/home}" class="col-md-offset-11">返回个人家园</a></span></small>
    </h3>
    <a class="col-md-offset-10" href="/news/page/date/1" th:href="@{/news/page/date/1}">按时间排行</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/news/page/count/1" th:href="@{/news/page/count/1}">按热度排行</a>
    <hr/>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>新闻标题</th>
                <th>新闻时间</th>
                <th>机构</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="news : ${pageInfo.list}" th:object="${news}">
                <td ><a th:href="@{/news/details/{id}(id=${news.id})}"><span th:text="*{title}"></span></a></td>
                <td ><span th:text="*{date}"></span></td>
                <td ><span th:text="*{company}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col col-md-6 col-sm-6 col-xs-6">
            新闻总记录数：<span th:text="${pageInfo.total}"></span>总页数：<span th:text="${pageInfo.pages}"></span>当前页：<span th:text="${pageInfo.pageNum}"></span>
        </div>
        <div class="col col-md-6 col-sm-6 col-xs-6">
            <nav >
                <ul class="pagination">
                    <li><a href="#" th:href="@{/news/page/date/{pageNum}(pageNum=1)}" th:if="${pageInfo.pageNum} &gt; 1">首页</a></li>
                    <li>
                        <a href="#" th:href="@{/news/page/date/{pageNum}(pageNum=${pageInfo.pageNum}-1)}" th:if="${pageInfo.pageNum} &gt; 1">
                            <span >&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#" th:text="${pageInfo.pageNum}-2" th:href="@{/news/page/date/{pageNum}(pageNum=${pageInfo.pageNum}-2)}" th:if="${pageInfo.pageNum}-2 &gt; 0">1</a></li>
                    <li><a href="#" th:text="${pageInfo.pageNum}-1" th:href="@{/news/page/date/{pageNum}(pageNum=${pageInfo.pageNum}-1)}" th:if="${pageInfo.pageNum}-1 &gt; 0">2</a></li>
                    <li><a href="#" th:text="${pageInfo.pageNum}" th:href="@{/news/page/date/{pageNum}(pageNum=${pageInfo.pageNum})}">3</a></li>
                    <li><a href="#" th:text="${pageInfo.pageNum}+1" th:href="@{/news/page/date/{pageNum}(pageNum=${pageInfo.pageNum}+1)}" th:if="${pageInfo.pageNum}+1 &lt; ${pageInfo.pages}+1">4</a></li>
                    <li><a href="#" th:text="${pageInfo.pageNum}+2" th:href="@{/news/page/date/{pageNum}(pageNum=${pageInfo.pageNum}+2)}" th:if="${pageInfo.pageNum}+2 &lt; ${pageInfo.pages}+1">5</a></li>
                    <li>
                        <a href="#" th:href="@{/news/page/date/{pageNum}(pageNum=${pageInfo.pageNum}+1)}" th:if="${pageInfo.pageNum} &lt; ${pageInfo.pages}">
                            <span >&raquo;</span>
                        </a>
                    </li>
                    <li><a href="#" th:href="@{/news/page/date/{pageNum}(pageNum=${pageInfo.pages})}" th:if="${pageInfo.pageNum} &lt; ${pageInfo.pages}">尾页</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>
</body>
</html>